@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  background-color:#cdced8;
  text-align: center;
}

.infobox_class {
	position: relative;
	width: auto;
	vertical-align: middle;
    background-color: DarkRed;
	color: Gold;
	opacity: 0.8;
    margin: auto;
}
.cavs_class {
	position: absolute;
	left: 0;
	width: 40%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: large;
	background-color: Gold;
	color: Black;
}
.opponent_class {
	position: absolute;
	right: 0;
	width: 40%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: large;
	background-color: Gold;
	color: Black;
}
.record_class {
	font-size: small;
}
.info_class {
	width: 15%;
	height: 50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: 15px;
}
.predictions_class{
	position: absolute;
	left: 25%;
	right: 25%;
	width: 50%;
	top: 200%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: 20px;
	background-color: white;
	font-family: "Jokerman";
	color: Black;
}