@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  background-color:#cdced8;
  text-align: center;
}

.infobox_class {
	position: absolute;
	width: 100%;
	height: 100%;
    background-color: DarkRed;
	color: Gold;
	opacity: 0.8;
    margin: auto;
	z-index: -1;
	font-size: xx-large;
}
.cavs_class {
	position: absolute;
	left: 10%;
	width: 20%;
	top: 40%;
	height: 20%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: x-large;
	background-color: Gold;
	color: DarkRed;
}
.opponent_class {
	position: absolute;
	right: 10%;
	width: 20%;
	top: 40%;
	height: 20%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: x-large;
	background-color: Gold;
	color: Black;
}
#BOS {
	background-color: Green;
	color: White;
}
#BRO {
	background-color: Black;
	color: White;
}
#NYK {
	background-color: Orange;
	color: MediumBlue;
}
#PHI {
	background-color: Green;
	color: White;
}
#TOR {
	background-color: Black;
	color: Red;
}
#CHI {
	background-color: Red;
	color: White;
}
#DET {
	background-color: Navy;
	color: Red;
}
#MIL {
	background-color: ForestGreen;
	color: Tan;
}
#IND {
	background-color: Navy;
	color: Gold;
}
#ATL {
	background-color: Red;
	color: LawnGreen;
}
#CHA {
	background-color: Teal;
	color: Indigo;
}
#MIA {
	background-color: Red;
	color: Gold;
}
#ORL {
	background-color: RoyalBlue;
	color: Black;
}
#WAS {
	background-color: Red;
	color: Navy;
}
#DAL {
	background-color: Silver;
	color: RoyalBlue;
}
#HOU {
	background-color: White;
	color: Red;
}
#MEM {
	background-color: Navy;
	color: SkyBlue;
}
#NOP {
	background-color: Gold;
	color: Navy;
}
#SAS {
	background-color: Silver;
	color: Black;
}
#DEN {
	background-color: SkyBlue;
	color: Gold;
}
#MIN {
	background-color: Navy;
	color: LawnGreen;
}
#OKL {
	background-color: MediumBlue;
	color: OrangeRed;
}
#POR {
	background-color: Red;
	color: Black;
}
#UTA {
	background-color: ForestGreen;
	color: Gold;
}
#GSW {
	background-color: RoyalBlue;
	color: Gold;
}
#LAC {
	background-color: RoyalBlue;
	color: Red;
}
#LAL {
	background-color: RebeccaPurple;
	color: Gold;
}
#PHX {
	background-color: Orange;
	color: RebeccaPurple;
}
#SAC {
	background-color: RebeccaPurple;
	color: White;
}
.record_class {
	font-size: medium;
}
.info_class {
	width: 15%;
	height: 50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: 15px;
}
.predictions_class{
	position: absolute;
	left: 37.5%%;
	right: 37.5%;
	width: 25%;
	top: 37.5%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	font-size: 20px;
	background-color: white;
	font-family: "Arial Black";
	color: Black;
	z-index: 10;
}