<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Information For Next Game</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Next Game Date</th>
			   <th>Home/Away</th>
               <th>Opponent</th>
               <th>Opponent Wins</th>
			   <th>Opponent Loses</th>
            </tr>
         </thead>

         <tbody>
               <tr>
                  <td>{{ next_game.date }}</td>
                  <td>{{ next_game.home_away }}</td>
                  <td>{{ next_game.opponent }}</td>
				  <td>{{ next_game.oppWins }}</td>
				  <td>{{ next_game.oppLosses }}</td>
               </tr>
         </tbody>
      </table>

</body>
</html>