<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/basic.css">
</head>

<body>
	<div class="infobox_class">	
		LeBron James Stats Predictions <br>
         <div style="font-size: large;">
		 Information For Next Game
		 </div>
		 <div style="font-size: medium;">
			{{ next_game.date.strftime('%m-%d-%Y') }}
			</div>


	<div class="cavs_class">
	CLE
	<div class="record_class">
	{{ next_game.cavsWins }} - {{ next_game.cavsLosses }}
	</div>
	</div>
	<div class="opponent_class" id="{{ next_game.opponent }}">
	{{ next_game.opponent }}
	<div class="record_class">
	{{ next_game.oppWins }} - {{ next_game.oppLosses }}
	</div>
	</div>
	<div class="predictions_class">
	Predictions <br>
	Points: {{ predictions.predicted_pts }} <br>
	Assists: {{ predictions.predicted_ast }} <br>
	Rebounds: {{ predictions.predicted_rbs }}
	</div>
	</div>
	</div>
</body>
</html>